<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <!-- Album information -->
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-body">
                    <img src="{{ album.cover.url }}" class="img img-thumbnail img-responsive">
                    <div class="caption">
                        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:55px">{{ album.name }}</h5>
                        <h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">{{ album.genre }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Album Information -->
        <div class="col-sm-9">
            <ul class="nav nav-pills">
                <li class="active"><a href="">songs</a> </li>
                <li><a href="{% url 'miles:add-song' album.id %}">Add Song</a> </li>
            </ul>
            <div class="panel panel-default" style="margin: 1px;">
                <div class="panel-body">
                    <h4 class="text-primary" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi">All Songs</h4>
                    <table class="table" style="background-color: Cyan">
                        <tr>
                            <thead>
                            <th style ="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">#</th>
                            <th style ="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">Song name</th>
                            <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">Audio</th>
                            <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">Favorite</th>
                            <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 90%; font-family:Gugi; font-size:25px">Action</th>
                            </thead>
                        </tr>
                        <tbody>
                        {% if album.song_set %}
                            {% for s in album.song_set.all %}
                        <tr>
                                <td style="font-size:25px">{{ s.id }}</td>
                                <td style="font-size:25px">{{ s.name }}</td>
                                <td><a href="{{ s.audio.url }}" class="btn btn-info btn-sm">
                                    <i class="fas fa-play-circle"></i>
                                </a>
                                </td>
                            <td>
                                <a href="" class="btn btn-warning btn-sm">
                                    <i class="fas fa-heart"></i>
                                </a>
                            </td>
                                <td>
                                    <a href="" class="btn btn-success">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>